@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>
        <h3><b>how we store data?</b></h3>
        <br />
         We care about our users and their data, which motivate us to give a secure experience to our users.
        <br /><h3>    <b>
                how we use data?</b></h3>
              <br />
        we use data only for storing puspose on users behalf, we don`t sale data and personal iformation of users.
    </p>

</div>

<div>
    

</div>